*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* Custom properties */
:root
{
  --ff-primary: 'Oxygen', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

html, body {
    font-family: var(--ff-primary);
    background: linear-gradient(120deg, #457fca, #5691c8);
}

/* Typography */

h1,
h2,
h3  {
  line-height: 1;
  margin: 0;
}

h1 {
    color: var(--clr-light);
    font-size: 2em;
    font-weight: 700;
}

h2 {
    color: var(--clr-light);
    font-size: 2.5em;
    font-weight: 600;
}

h3 {
    color: var(--clr-light);
    font-size: 2.0em;
    font-weight: 600;
}

p {
    font-size: 1.5em;
    font-weight: 100;
}

/* Header */

.top {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.logo {

    float: left;
    padding-top: 2vh;
    padding-left: 3vw;

}

.login {
    padding-top: 2vh;
    padding-right: 2em;
    float: right;
    
}



.column-1{
    margin-top: 11vh;
    margin-left: 2vw;
    padding-top: 2vh;
    padding-left: 2vw;
    min-height: 80vh;
}

.column-2 {
    margin-top: 6em;
    padding-left: 10vw;
}

.space {
    padding-top: 1.0vh;
}

.space1 {
    padding-top: 0.6vh;
}

.signup {
    padding-top: 3vh;
    border-radius: 5px;
    height: 20em;
    width: 23em;
}

.image__frontpage {
    width: 20em;

}

input {
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.8em;
    padding-left: 1.0em;
    padding-right: 1.5em;
    border: 1px;
    border-radius: 4px;
}

.button {
    background-color: rgb(71, 206, 144);
    font-size: 0.8em;
    font-weight: 600;
    color: var(--clr-light);
    padding: 0.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 1px;
    border-radius: 5px;
}

a:hover {
    color: var(--clr-light);
}

a:visited {
    color: var(--clr-light);
}
